@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-purple-color: hsla(254, 85%, 67%, 1);
  --primary-green-color: hsla(173, 46%, 69%, 1);
  --primary-red-color: hsla(0, 100%, 50%, 1);

  --primary-black-color: hsla(0, 0%, 0%, 1);
  --primary-slate-color: hsla(0, 0%, 32%, 1);

  --tertiary-white-color: hsla(0, 0%, 78%, 1);
  --primary-white-color: hsla(0, 0%, 100%, 1);
  --secondary-white-color: hsla(0, 0%, 96%, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  body {
    @apply bg-primaryWhite text-primaryBlack;
  }
  input {
    @apply border border-solid pl-7 placeholder:caption h-[60px] rounded-[10px] w-full;
  }
  input:not(:focus) {
    @apply border-tertiaryWhite;
  }
  input:focus {
    @apply outline-primaryPurple;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    @apply flex items-center;
  }
  .flex-col-center {
    @apply flex-center flex-col;
  }
  /* Typography */
  .heading {
    @apply font-bold text-7xl leading-[86px] text-center;
  }
  .title {
    @apply font-bold leading-[58px] text-5xl;
  }
  .caption,
  .body,
  .error {
    @apply leading-[22px];
  }

  .caption {
    @apply font-medium text-lg;
  }
  .footer {
    @apply text-sm leading-[17px];
  }
  .error {
    @apply text-primaryRed p-7 !important;
  }
  .primary-underline {
    @apply text-primaryPurple  border-b-primaryPurple border-b mr-1;
  }
  /* Image */
  .flag {
    @apply w-[46px] h-[30px];
  }
  /* actions */
  .base-transition {
    @apply transition-opacity duration-300 ease-in-out;
  }
  .hovered-input {
    @apply border border-solid border-primaryPurple;
  }
  .hovered-search-result {
    @apply bg-secondaryWhite;
  }
  /* shadow */
  .primary-shadow {
    box-shadow: 4px 4px 4px 0px hsla(0, 0%, 0%, 0.02),
      -4px -4px 4px 0px hsla(0, 0%, 0%, 0.02);
  }
  /* animation */
  .shake {
    animation: shake 1s ease-in-out infinite;
  }
  @keyframes shake {
    0%,
    100% {
      transform: translateY(0);
    }
    20%,
    60%,
    100% {
      transform: translateY(-10px);
    }
    40%,
    80% {
      transform: translateY(10px);
    }
  }
  /* card */
  .card-shadow {
    @apply bg-primaryWhite text-primaryBlack primary-shadow;
  }
}

@layer base {
  img {
    @apply object-cover mt-3;
  }
}

/* index page */
@layer components {
  .container-index {
    @apply absolute top-1/2 -translate-y-1/2 right-1/2 translate-x-1/2 space-y-10;
  }
  .container-index > .wrapper-index {
    @apply w-[700px] space-y-10;
  }
  .wrapper-result-search {
    @apply hover:bg-secondaryWhite transition-all duration-300 px-4 py-2;
  }
  .wrapper-result-search > a {
    @apply w-full block;
  }
}

/* country page */
@layer components {
  .container-country {
    @apply p-24 space-y-12 min-h-[120vh];
  }
  .wrapper-country {
    @apply flex flex-col gap-12;
  }
  .wrapper-country-second-section {
    @apply flex flex-col gap-2;
  }
  .wrapper-country-section {
    @apply sm:flex  gap-7;
  }
  .wrapper-country-second-section > div {
    @apply flex-center gap-3;
  }
  .wrapper-country-section > .wrapper-latlong {
    @apply p-7 card-shadow space-y-3 relative overflow-hidden w-[540px];
  }
  .wrapper-country-section > .wrapper-capital {
    @apply card-shadow p-7  text-lg w-[540px];
  }
  .wrapper-country-sub-section {
    @apply space-y-2 w-[540px];
  }
  .wrapper-capital > p > span {
    @apply font-medium;
  }
  .hovered-country {
    @apply absolute top-10 left-0  bg-primarySlate px-6 py-4 rounded-[10px] shadow-lg text-primaryWhite font-medium space-y-1;
  }
  .underline-country {
    @apply primary-underline cursor-pointer;
  }
}
